<html>
<head>
<link href="/style.css" rel="stylesheet">
<script>
document.addEventListener("DOMContentLoaded", async () => {
  document.querySelector("form").addEventListener("submit", async (e) => {
    e.preventDefault()
    e.stopPropagation()
    let res = await fetch("/wallet/import", {
      method: "POST",
      headers: {
        "Content-Type": "application/json"
      },
      body: JSON.stringify({
        seed: document.querySelector("#seed").value,
        username: document.querySelector("#username").value,
        password: document.querySelector("#password").value
      })
    }).then((res) => {
      return res.json()
    }).then((r) => {
      if (r.error) {
        alert(r.error)
        location.reload()
      } else {
        location.href = "/"
      }
    }).catch((e) => {
      alert(e)
      location.reload()
    })
  })
})
</script>
</head>
<body>
<nav>
<div class='navbar'>
  <a class='brand' href="/"><img class='mini' src="/nuron.png"></a>
  <div class='flexible'></div>
  <a href="/settings"><i class="fa-solid fa-gear"></i></a>
</div>
</nav>
<div class='compact'>
<form>
  <h2>Import a wallet</h2>
  <hr>
  <textarea id='seed' placeholder="enter the wallet seed phrase"></textarea>
  <input id='username' type='username' placeholder='username'>
  <input id='password' type='password' placeholder='enter decryption password'>
  <input type='submit' value='import'>
</form>
</div>
</body>
</html>
