@font-face {
  font-family: 'visitor';
  src:  url('visitor1-webfont.woff2') format('woff2'),
        url('visitor1-webfont.woff') format('woff');
}
body {
  background: rgba(0,0,0,0.9);
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /*
  background: #231f20;
  color: rgba(255,255,255,0.8);
  color: rgba(0,0,0,0.8);
  */
  color: white;
}
body.fit {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
body.fit iframe {
  flex-grow: 1;
  width: 100%;
  height: 100%;
  border: none;
  background: white;
}
#logo {
  text-align: center;
}
.logo {
  width: 100px;
}
.mini {
  height: 20px;
}
header {
  color: rgba(255,255,255,0.8);
  padding: 20px;
}
.navbar {
  display: flex;
  align-items: stretch;
  /*
  background: gold;
  */
  /*
  background: rgba(57, 67, 183, 0.05);
  */
  background: #1A1A20;

  color: white;
  padding-top: 20px;
}
.disabled {
  background: silver !important;
}
nav {
  align-items: center;
  top: 0;
  position: sticky;
  -webkit-app-region: drag;
  cursor: grab;
}
.navbar > * {
/*
  color: rgba(0,0,0,0.8);
  */
  color: rgba(255,255,255,0.8);
  padding: 20px;
  display: block;
  /*
  color: #976d3f;
  background: none;
  */
  border: none;
  /*
  font-size: 14px;
  */
  /*
  font-family: Menlo, monaco, monospace;
  */
  font-size: 14px;
}
nav a {
  text-decoration: none;
  cursor: pointer !important;
  -webkit-app-region: no-drag;
  /*
  color: #976d3f;
  color: yellowgreen;
  */
  /*
  color: rgba(0,0,0,0.8);
  */
  color: yellowgreen;
}
.flexible {
  flex-grow: 1;
}
.brand {
  font-weight: bold;
  /*
  font-size:20px;
  letter-spacing: -1px;
  */
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1A1A20;
  -webkit-app-region: drag;
  /*
  background: #231f20;
  */
}
.hidden {
  display: none;
}
main {
  width: 100%;
  /*
  max-width: 800px;
  */
  display: block;
  box-sizing: border-box;
}
.compact {
  max-width: 800px;
  padding: 20px;
  -webkit-app-region: no-drag;
}
form > * {
  display: block;
  width: 100% !important;
  margin-bottom: 10px;
}
form input {
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid rgba(0,0,0,0.2);
}
form input[type=submit] {
/*
  color: black;
  background: yellowgreen;
  */
  color: white;
  background: royalblue;
  border: none;
  font-weight: bold;
}
.nice-select {
  color: black;
}
.nice-select-dropdown {
  width: 100%;
}
.apps.list .item a {
  flex-grow: 0;
}
.apps.list .item {
  flex-direction: column;
  padding: 20px;
}
.list .item {
  text-decoration: none;
  padding: 10px;
  color: rgba(255,255,255,0.8);
  margin: 0;
  /*
  border-left: 10px solid royalblue;
  */
  display: flex;
  font-size: 14px;
}
.list.files .item {
  flex-direction: row;
}
.list.wallet .item {
  flex-direction: row;
}
.list .item:hover {
  background: rgba(0,0,255,0.1) !important;
}
.list .item:nth-child(even) {
  background: rgba(0,0,0,0.1);
}
.list .item a {
  flex-grow: 1;
  display: block;
  color: white;
}
.list .item button:hover {
  color: firebrick;
}
.list .item button {
  cursor: pointer;
  background: none;
  border: none;
  color: white;
}
.list .item button i {
  font-size: 14px;
}
.item h3 {
  font-family: Sans-serif;
  font-size: 20px;
  margin-bottom: 5px;
}
.item .l {
  color: royalblue;
}
.list .row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.list .item i {
  text-align: center;
  margin-right: 10px;
  vertical-align: middle;
}
/*
.list .item:nth-child(odd) {
  background: rgba(0,0,0,0.05);
}
*/
.compact textarea {
  height: 300px;
}
textarea {
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
}
h1, h2 {
  margin: 0;
}
h1 {
  letter-spacing: -2px;
}
h1 a {
  text-decoration: none;
  letter-spacing: -1px;
  /*
  color: #976d3f;
  */
}
a {
/*
  color: #976d3f;
  color: yellowgreen;
  color: firebrick;
  */
  color: royalblue;
  text-decoration: none;
  display: block;
}
.bold {
  font-weight: bold;
}
.address {
  padding: 5px 0px;
  /*
  background: rgba(0,0,0,0.08);
  */
  font-weight: bold;
  margin-top: 10px;
}
.container {
  font-family: Sans-serif;
  font-size: 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.item {
/*
  border: 1px solid rgba(255,255,255,0.1);
  */
  padding: 10px;
  box-sizing: border-box;
  margin: 10px;
  flex-direction: column;
  /*
  color: white;
  */
  display: flex;
  overflow-wrap: break-word;

}
.image {
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  width: 100px;
  height: 100px;
}
.image img {
  height: 100px;
}
h2 {
  font-size: 15px;
}
hr {
  background: rgba(255,255,255,0.05);
  border: none;
  height: 2px;
}
.btns {
  padding: 0 10px;
}
.btn.action {
  font-size: 15px;
  /*
  background: yellowgreen;
  color: black;
  */
  background: rgba(0,0,0,0.8);
  color: white;
}
.btn {
  border: none;
  background: rgba(0,0,0,0.8);
  color: white;
  padding: 5px 10px;
  border-radius: 2px;
  display: inline-block;
  margin: 5px;
  font-size: 14px;
  cursor: pointer;
}
.card {
  width: 200px;
  padding: 10px;
  box-sizing: border-box;
  margin: 10px;
  border: 1px solid rgba(0,0,0,0.08);
}
.card img {
  width: 100%;
  margin-bottom: 10px;
}
.h {
  display: flex;
}
.h button {
  background: none;
  border: none;
  color: white;
  padding: 10px;
  display: inline-block;
}
.navlinks {
  color: white;
  position: sticky;
  background: #1B1C22;
  top: 0;
  /*
  background: firebrick;
  */
  cursor: default;
}
.navlinks > * {
/*
  font-family: Menlo, monaco, monospace;
  */
  font-size: 14px;
  padding: 10px 3px;
  display: inline-block;
  font-weight: bold;
}
.navlinks a {
  display: inline-block;
  -webkit-app-region: no-drag;
  /*
  color: #976d3f;
  color: yellowgreen;
  color: royalblue;
  */
  /*
  color: gold;
  */
  color: royalblue;
}
.download {
  padding: 20px;
}
h3 {
  margin: 0;
}
.actions {
  padding: 10px 0 0;
  display: flex;
}
.list .item .action-btn.warning {
  background: none;
  color: firebrick;
  border: 1px solid firebrick;
}
.list .item .action-btn.update {
  background: none;
  color: cornflowerblue;
  border: 1px solid cornflowerblue;
}
.list .item .action-btn i {
  margin: 0;
  vertical-align: baseline;
  font-size: 14px;
  width: 14px;
}
.list .item .action-btn {
  cursor: pointer;
  text-transform: uppercase;
  padding: 10px;
  width: 120px;
  text-align: center;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 2px;
  background: royalblue;
  color: white;
  margin-right: 10px;
  border: none;
  display: inline-block;
  font-family: Sans-serif;
}
.topbar {
  padding: 40px;
  color: rgba(255,255,255,0.8);
  font-size: 14px;
}
.topbar h3 {
  font-size: 30px;
  letter-spacing: -1px;
}
.topbar code {
  background: rgba(255,255,255,0.1);
  padding: 2px 4px;
  border-radius: 2px;
}
.topbar .btn {
  margin: 10px 0 0 0;
  background: rgba(0,0,0,0.7);
  border: 1px solid rgba(255,255,255,0.2);
  padding: 5px 40px;
}
.topbar pre {
  padding: 10px;
  background: rgba(255,255,255,0.1);
  box-sizing: border-box;
}
.connector {
  margin-bottom: 50px;
  background: rgba(0,0,0,0.1);
  color: white;
  padding: 20px;
  box-sizing: border-box;
}
.connector button, .connector .btn {
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 2px;
  color: rgba(255,255,255,0.8);
  border: 1px solid rgba(255,255,255,0.8);
  background: none;
  margin-top: 10px;
  cursor: pointer;
  text-transform: uppercase;
}
.connector button:hover, .connector .btn:hover {
  color: royalblue;
  border-color: royalblue;
}
.connector h5 {
  margin: 0;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}
