<html>
<head>
<link href="/css/all.min.css" rel="stylesheet">
<link href="/style.css" rel="stylesheet">
<script>
document.addEventListener("DOMContentLoaded", async () => {
  document.querySelector("#disconnect").addEventListener("click", async (e) => {
    e.preventDefault()
    e.stopPropagation()
    let res = await fetch("/wallet/disconnect", {
      method: "POST",
    }).then((res) => {
      return res.json()
    })
    location.reload()
  })
})
</script>
</head>
<body>
<nav>
  <div class='navbar'>
    <a class='brand' href="/"><img class='mini' src="/nuron.png"></a>
    <div class='flexible'></div>
    <div><%=name%></div>
    <a href="/settings"><i class="fa-solid fa-gear"></i></a>
  </div>
  <div class='navlinks'>
    <span></span><span>/</span><span>settings</span>
  </div>
</nav>
<main class='list'>
  <a class='item' href="/settings/wallet">wallet settings</a>
  <a class='item' href="/settings/workspaces">workspace settings</a>
  <hr>
  <a class='item' href="#" id='disconnect'>logout</a>
</main>
</body>
</html>
