<html>
<head>
<link href="/css/all.min.css" rel="stylesheet">
<link href="/style.css" rel="stylesheet">
<script>
document.addEventListener("DOMContentLoaded", async () => {
  document.querySelector("#key").addEventListener("input", async (e) => {
    document.querySelector("#save").classList.remove("disabled")
    document.querySelector("#save").value = "save"
  })
  document.querySelector("form").addEventListener("submit", async (e) => {
    e.preventDefault()
    e.stopPropagation()
    let key = document.querySelector("#key").value
    let res = await fetch("/configure", {
      method: "POST",
      headers: { "Content-Type": "application/json" },
      body: JSON.stringify({
        ipfs: {
          key: key
        }
      })
    }).then((res) => {
      return res.json()
    })
    document.querySelector("#save").classList.add("disabled")
    document.querySelector("#save").value = "saved"
//    location.reload()
  })
})
</script>
</head>
<body>
<nav>
<div class='navbar'>
  <a class='brand' href="/"><img class='mini' src="/nuron.png"></a>
  <div class='flexible'></div>
  <div><%=name%></div>
  <a href="/settings"><i class="fa-solid fa-gear"></i></a>
</div>
  <div class='navlinks'>
    <span></span><span>/</span><a href=".">settings</a><span>/</span><span>workspaces</span>
  </div>
</nav>
<main>
<div class='compact'>
  <h5>Set NFT.STORAGE API KEY</h5>
  <form>
    <textarea placeholder="nft.storage API key" id='key'><%=ipfs.key%></textarea>
    <input type='submit' value='save' class='btn' id='save'>
  </form>
</div>
</main>
</body>
</html>
