<html>
<head>
<link href="/css/all.min.css" rel="stylesheet">
<script src="/navlinks.js"></script>
<link href="/style.css" rel="stylesheet">
<script>
document.addEventListener("DOMContentLoaded", () => {
  const links = navlinks(location.pathname)
  document.querySelector(".navlinks").innerHTML = links
  document.querySelector("#trash").addEventListener("click", async (e) => {
    let path = document.querySelector("#trash").getAttribute("data-path")
    let workspace = document.querySelector("#trash").getAttribute("data-workspace")
    let c = confirm("delete?")
    if (c) {
      let res = await fetch("/fs/rm2", {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({
          workspace,
          paths: path
        })
      }).then((res) => {
        return res.json()
      })
      location.href = "."
    }
  })
})
</script>
</head>
<body class='fit'>
<nav>
<div class='navbar'>
  <a class='brand' href="/"><img class='mini' src="/nuron.png"></a>
  <div class='flexible'></div>
  <div><%=name%></div>
  <a href="/settings"><i class="fa-solid fa-gear"></i></a>
</div>
<div class='h'>
  <div class='navlinks'></div>
  <div class='flexible'></div>
  <button id='trash' data-workspace="<%=workspace%>" data-path="<%=current%>"><i class="fa-solid fa-trash-can"></i></button>
</div>
</nav>
</header>
<iframe src="<%=url%>"></iframe>
</body>
</html>
